<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kang.blog.mapper.ArticleMapper">

    <select id="listArchives" resultType="com.kang.blog.entity.doS.Archives">
        SELECT
            year(create_date) AS year ,
            month(create_date) AS month ,
            count(*) as count
        FROM
            ms_article
        GROUP BY
            year,
            month
    </select>
</mapper>
